/*注释文字跟注释内容设置*/
.duokan-footnote {font-size: 1.2em;}
notetag {font-size: 1.2em;}
img.zhangyue-footnote {width: 8%;}

/*图片并列显示 td单元格 tr表格的一行 taody把td tr视为一个结构 table表格(整个表格的内容)*/
/*背景颜色设置<body bgcolor="#fff">*/

.illus {
    text-indent: 0em;
    text-align: center;
}
.illus img {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
}

hr {border-color: black;}
ruby rt {font-size: 0.7em;}
img.gaiji {height: 1.3em;}
.gaiji-line {height: 1.5em;}
.bold {font-weight: bold;}

.font-085per {font-size: 85%;}
.font-095per {font-size: 95%;}
.font-110per {font-size: 110%;}
.font-120per {font-size: 120%;}
.font-130per {font-size: 130%;}
.font-150per {font-size: 150%;}
.font-200per {font-size: 200%;}

.font-0em80 {font-size: 0.80em;}
.font-1em10 {font-size: 1.10em;}
.font-1em20 {font-size: 1.20em;}
.font-1em30 {font-size: 1.30em;}